body {
  background-color: white;
  color:black;
}

header {
  margin-top: 20px;
}
img {
  width: 100%;
  margin-bottom: 30px;
}

a {
  text-decoration: underline;
  color: green;
  margin-bottom: 30px;
}

#bannerflog img {
  height: 100px;
}
h1, p{
  color: DeepPink ;
}
h1{
  font-size: 50px;
  font-weight: bolder;
}

.input-group{
  margin-bottom: 20px;
  border-color: DeepPink;
}

.posteo {
  color: DeepPink;
}
.posteo strong{
  display: block;
}
.posteo hr {
  border: 1px solid DeepPink;
}
/* PARA CORAZON */
.corazon {
  font-size: 40px;
  color: gray;
  text-align: center;
}
.rojo {
  color: red;
}
footer{
  padding: 10px;
}



/* Estilos comentarios */
.comentario{
  background-color: #F5D7F4;
  border-radius: 5px;
  padding: 10px;
}

.comentario i, .comentario h3{
  color: white;
}
